/*
### Primary

Dark cyan: hsl(185, 75%, 39%)
Very dark desaturated blue: hsl(229, 23%, 23%)
Dark grayish blue: hsl(227, 10%, 46%)

### Neutral

Dark gray: hsl(0, 0%, 59%)

## Typography*/

@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');



*{ 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@media screen(max-width: 500px) {
    body{
        background-position: left -50% bottom 30rem , right -35% top 30rem;}
}

body{
    background: url(bg-pattern-top.svg), url(bg-pattern-bottom.svg), hsl(185, 75%, 39%);
    background-repeat: no-repeat;
    font-family: 'Kumbh Sans', sans-serif; 
    background-position: left -0% bottom 35rem , right -15% top 35rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    
}

.container{ 
    width: 375px; 
    background-color: white;
    border-radius: 1rem;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.banner{ 
    min-width: 100%; 
    min-height: 9rem;
    background-image: url(bg-pattern-card.svg);
}

.container img{ 
    width: 7rem;
    border: 5px solid white; 
    border-radius: 50%;
    margin-top:-3.5rem;
    padding-bottom: 1rem;
}
.container h1{ 
    font-size: 1.5rem;
    padding-bottom: 0.75rem;
}

.container h1 span{ 
    color: hsl(227, 10%, 46%) ;
    font-weight: 400;
}

.container > p{ 
    font-size: 1.1rem;
    color: hsl(227, 10%, 46%) ;
    padding-bottom: 1.5rem;
}
hr{ 
    border: 1px thin  hsl(0, 0%, 97%) ;
    width: 100%;

}

.stats{ 
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    text-align: center;
    padding: 2rem 0rem ;
}

.stats-element .stats-title{
    font-size: 1.2rem;  
    font-weight: 700;
    padding-bottom: 0.2rem;

   

}

.stats-description{ 
    font-size: 0.8rem;
}





.attribution { font-size: 11px; text-align: center;}
.attribution a { color: hsl(228, 45%, 44%); }
